{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true
    },
    "extends": ["eslint:recommended", "airbnb-base", "prettier"],
    "overrides": [],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "no-underscore-dangle": ["error", { "allow": ["_id"] }]
    }
}

// rule 1: disallow dangling underscores in identifiers
// .eslintrc.js wouldn't get accepted by github actions
